<head>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/angular/angular.js"></script>
  <style>
    .active{ background-color: pink; }
    #files{ overflow: hidden; }
    .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
    .speech input {border: 0; width: 50%; display: inline-block; height: 30px;}
    .speech img {float: right; width: 40px }    
  </style>
</head>
<body ng-app="fileTaggerApp" ng-controller="ftController">

  <div class="container-fluid">

    <div id="display" class="col-md-12">
      <h2>File Tagger 1.0</h2>
    </div>

  </div>

  <div class="container-fluid">

    <div id="display" class="col-md-7">
      <object data="{{fileList[activeFile].path}}" type="application/pdf" width="100%" height="800px">
        alt : <a href="{{fileList[activeFile].path}}">{{fileList[activeFile].path}}</a>
      </object>
    </div>

    <div id="files" class="col-md-2">
      <div class="filelist" data-fileid="{{$index}}" ng-repeat="file in fileList track by $index" ng-click="clickFile($index)">
        {{file.file}}
      </div>
    </div>

    <div id="file_data" class="col-md-3">
      <div>{{fileList[activeFile].path}}<div>
      <div>{{fileList[activeFile].hash}}</div>
      <div class="speech">
        <input type="text" name="q" id="transcript" placeholder="Speak" />
        <img src="http://i.imgur.com/cHidSVu.gif" />
      </div>
      <h3>tags</h3>
      <div>
        <span class="badge" ng-repeat="tag in tagList track by $index">{{tag}}</span>
      </div>
    </div>

  </div>

  <script type="text/javascript">
  
    console.log('app.js');
  
    var app = angular.module('fileTaggerApp', []);
    app.controller('ftController', ['$scope', '$http', function ($scope, $http) {
        
      $scope.fileList   = [];
      $scope.activeFile = false;
      
      $scope.tagList = [];
      
      // Simple GET request example:
      $http({
        method: 'GET',
        url:    '/api/filelist'
      }).then(function successCallback(response) {
        console.log(response);
        $scope.fileList = response.data;
        moveActiveFile(0);
      }, function errorCallback(response) {
        console.log('error');
        console.log(response);
      });        
      
      $scope.clickFile = function(index){
         moveActiveFile(index);
      }

      $scope.keyPress = function($event){
        // 40 = up 38 = down, 37 = left, 39 = right
        var keyCode = $event.which || $event.keyCode;
        console.log(keyCode);
        switch(keyCode){
          case 38:
            keyPressedUp($event);
            break;
          case 40:
            keyPressedDown($event);
            break;
          case 39:
            keyPressedRight($event);
            break;
          case 37:
            keyPressedLeft($event);
            break;
          default: break;
        }
        $scope.$apply(); 
      }

      var $doc = angular.element(document);

      $doc.on('keydown', $scope.keyPress);
      $scope.$on('$destroy',function(){
        $doc.off('keydown', $scope.keyPress);
      });


      var createFile = function(data){
        $http({
          method: 'POST',
          url:    '/api/files',
          data:   data
        }).then(function successCallback(response) {
          return response;
        }, function errorCallback(response) {
          console.log('error');
          console.log(response);
        });      
      }
      
      var retrieveFileByPath = function(path, callback){
        $http({
          method: 'GET',
          url:    '/api/files/path/'+encodeURIComponent(path)
        }).then(function successCallback(response) {
          console.log(response);
          callback(response.data);
        }, function errorCallback(response) {
          console.log('error');
          console.log(response);
        });       
      }
      
      var updateFile = function(data, callback){
        console.log('UPDATING FILE');
        console.log(data);
        $http({
          method: 'PUT',
          url:    '/api/files/'+data._id,
          data:   data
        }).then(function successCallback(response) {
          console.log(response);
          callback(response.data);
        }, function errorCallback(response) {
          console.log('error');
          console.log(response);
        });       
      }

      
      function moveActiveFile(new_key){
      
        console.log('NEW KEY: '+new_key);
      
        // If there is an exit file and has an id, update it
        console.log($scope.activeFile);
        if($scope.activeFile){
          if(typeof $scope.fileList[$scope.activeFile]._id !== typeof undefined){
            $scope.fileList[$scope.activeFile].tags = $scope.tagList;
            updateFile($scope.fileList[$scope.activeFile], function(response){
              console.log('UPDATED '+$scope.fileList[$scope.activeFile]._id);
            });
          }
        }
      
        // Newly selected file
        $scope.activeFile = new_key;
        $scope.tagList = [];
        
        var current_path = $scope.fileList[$scope.activeFile].path;
        retrieveFileByPath(current_path, function(data){
          console.log(data);
          if(data === null){
            console.log('no file saved. Creating record.');
            createFile($scope.fileList[$scope.activeFile], function(data){
              console.log('created file');
              console.log(data);
              $scope.fileList[$scope.activeFile].tags = $scope.tagList;
              $scope.fileList[$scope.activeFile]._id = data._id;          
            });
          }else{
            $scope.fileList[$scope.activeFile]._id = data._id;
            $scope.tagList = data.tags;
          }
          $('.filelist').removeClass('active');
          var newFileDiv = $("#files").find("div[data-fileid='"+$scope.activeFile+"']");
          newFileDiv.addClass('active');
        });
      }
      
      /**
       * make file active above current
       * if at top of file list, do nothing
       */
      function keyPressedUp($event){
        $event.preventDefault();
        if($scope.activeFile == 0) return;
        moveActiveFile(Number($scope.activeFile) - 1);
      }

      /**
       * make file active below current
       * if at bottom of file list, do nothing
       */      
      function keyPressedDown($event){
        $event.preventDefault();
        if($scope.activeFile == $scope.fileList.length - 1) return;
        var new_key = Number($scope.activeFile) + 1;
        console.log(new_key);
        moveActiveFile(new_key);        
      }
      
      /**
       * Dictation
       */
      if (window.hasOwnProperty('webkitSpeechRecognition')) {

        var recognition = new webkitSpeechRecognition();

        recognition.continuous = false;
        recognition.interimResults = false;

        recognition.lang = "en-US";

        recognition.onresult = function(e) {
          var result = e.results[0][0].transcript;
          $('#transcript').val(result);
          recognition.stop();
          console.log('got result '+result);
          dumpTag(result);
          $('#transcript').val('');
        };

        recognition.onerror = function(e) {
          recognition.stop();
        }

      }       

      var keyIsPressed = false;
      
      function keyPressedRight($event){
        $event.preventDefault();
        if(!keyIsPressed)
          recognition.start();
        keyIsPressed = true;
      }
      
      function keyUpRight($event){
        $event.preventDefault();
        keyIsPressed = false;
        var keyCode = $event.which || $event.keyCode;
        console.log(keyCode);
        if(keyCode == 39){
          recognition.stop();
        }
      }

      $doc.on('keyup', keyUpRight);
      $scope.$on('$destroy',function(){
        $doc.off('keyup', keyUpRight);
      });
      
      function keyPressedLeft($event){
        $event.preventDefault();
        recognition.stop();
        $scope.tagList.pop();
      }

      var dumpTag = function(tag){
        $scope.tagList.push(tag);
        $scope.$apply();
      }
        
        
    }]);
  
  </script>

</body>