<head>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/angular/angular.js"></script>
  <style>
    .active{ background-color: pink; }
    #files{ overflow: hidden; }
    .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
    .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}
    .speech img {float: right; width: 40px }    
  </style>
</head>
<body ng-app="fileTaggerApp" ng-controller="ftController">

  <div class="container-fluid">

    <div id="display" class="col-md-12">
      <h2>File Tagger 1.0</h2>
    </div>

  </div>

  <div class="container-fluid">

    <div id="display" class="col-md-7">
      <object data="{{activeFile.path}}" type="application/pdf" width="100%" height="800px">
        alt : <a href="{{activeFile.path}}">{{activeFile.path}}</a>
      </object>
    </div>

    <div id="files" class="col-md-2">
      <div class="filelist" ng-repeat="file in fileList" ng-click="makeActiveFile(file, $event)">
        {{file.file}}
      </div>
    </div>

    <div id="file_data" class="col-md-3">
      <div>{{activeFile.file}}<div>
      <div>{{activeFile.hash}}</div>
      <div class="speech">
        <input type="text" name="q" id="transcript" placeholder="Speak" />
        <img onclick="startDictation()" src="http://i.imgur.com/cHidSVu.gif" />
      </div>
      <div>{{activeFile.tags}}</div>
    </div>

  </div>

  <script type="text/javascript">
  
    console.log('app.js');
  
    var app = angular.module('fileTaggerApp', []);
    app.controller('ftController', ['$scope', '$http', function ($scope, $http) {
        
      $scope.fileList   = [];
      $scope.activeFile;
      
      // Simple GET request example:
      $http({
        method: 'GET',
        url:    '/api/filelist'
      }).then(function successCallback(response) {
        console.log(response);
        $scope.fileList = response.data;  
      }, function errorCallback(response) {
        console.log('error '+response);
      });        
      
      $scope.makeActiveFile = function(file, $event){
         console.log(file);
         console.log($event);
         
         $('.filelist').removeClass('active');
         $($event.currentTarget).addClass('active');
         $scope.activeFile = file;
      }

      $scope.startDictation = function() {
 
        if (window.hasOwnProperty('webkitSpeechRecognition')) {
 
          var recognition = new webkitSpeechRecognition();
 
          recognition.continuous = false;
          recognition.interimResults = false;
 
          recognition.lang = "en-US";
          recognition.start();
 
          recognition.onresult = function(e) {
            document.getElementById('transcript').value
                                     = e.results[0][0].transcript;
            recognition.stop();
          };
 
          recognition.onerror = function(e) {
            recognition.stop();
          }
 
        }
      }    

        
    }]);
  
  </script>

</body>