<div class="container-fluid">

  <div id="display" class="col-md-7">
    <object data="{{fileList[activeFile].path}}" type="application/pdf" width="100%" height="800px">
      alt : <a href="{{fileList[activeFile].path}}">{{fileList[activeFile].path}}</a>
    </object>
  </div>

  <div id="files" class="col-md-2">
    <div>
      <div class="btn-group">
        <input ng-model="searchTerm" id="searchinput" type="search" class="form-control">
        <span id="searchclear" ng-click="searchClear()" class="glyphicon glyphicon-remove-circle"></span>
      </div>
    </div>
    
    <div style="height: calc(100% - 115px); overflow: scroll">
      <div class="filelist" 
           data-fileid="{{$index}}" 
           ng-repeat="file in fileList track by $index" 
           ng-click="clickFile($index)"
           ng-class-even="'bge'">
        {{file.file}}
      </div>
    </div>
  </div>

  <div id="file_data" class="col-md-3">
    <div><b>fullpath: </b> {{fileList[activeFile].path}}<div>
    <div><b>md5 hash: </b> {{fileList[activeFile].hash}}</div>
    <hr />
    <div class="speech">
      <input type="hidden" name="q" id="transcript" placeholder="Speak" />
    </div>
    <h3>
      tags
      <div style="float: right;">
        <i id="mic" class="fa fa-microphone"></i>
      </div>
    </h3>
    <div>
      <span class="badge" ng-repeat="tag in tagList track by $index">{{tag}}</span>
    </div>
  </div>

</div>